/*-stamp
/*.patch
/*TAGS
/*aclocal.m4
/*stamp-*
/_build*
/_config
/_inst*
/autom4te.cache*
/autoscan.log
/config.cache*
/config.h
/config.h?in*
/config.hin
/config.log*
/config.status*
/configure
/configure.scan
/diffs.patch
/libltdl
/stamp-h1
