/demo/viewer/demodir.hh
/demo/viewer/scribo-viewer
/demo/xml2doc/datarootdir.hh
/demo/xml2doc/scribo-xml2doc

/doc/Doxyfile_devel
/doc/Doxyfile_user
/doc/devel-refman
/doc/devel-refman.pdf
/doc/scribo.tag
/doc/user-refman
/doc/user-refman.pdf

/src/binarization/global_threshold
/src/binarization/kim
/src/binarization/niblack
/src/binarization/otsu
/src/binarization/pgm_global_threshold_auto
/src/binarization/sauvola
/src/binarization/sauvola_debug
/src/binarization/sauvola_ms
/src/binarization/sauvola_ms_debug
/src/binarization/sauvola_ms_fg
/src/binarization/sauvola_ms_split
/src/binarization/singh
/src/binarization/wolf
/src/content_in_doc
/src/content_in_hdoc
/src/contest/DAE-2011/content_in_doc_dae
/src/contest/DAE-2011/content_in_hdoc_dae
/src/contest/hbr-2013/content_in_hdoc_hbr
/src/contest/hdibco-2010/sauvola_ms_hdibco
/src/contest/hdlac-2011/content_in_hdoc_hdlac
/src/contest/hnla-2013/content_in_hdoc_hnla
/src/debug/highlight_text_area
/src/debug/show_components_bboxes
/src/debug/show_components_boldness
/src/debug/show_components_color
/src/debug/show_groups_bboxes
/src/debug/show_groups_bboxes_filtered
/src/debug/show_info_median_inter_characters
/src/debug/show_info_x_height
/src/debug/show_lines_boldness
/src/debug/show_links_bbox_h_ratio
/src/debug/show_links_bbox_overlap
/src/debug/show_links_bottom_aligned
/src/debug/show_links_bottom_aligned_2angles
/src/debug/show_links_center_aligned
/src/debug/show_links_left_right_links_validation
/src/debug/show_links_non_h_aligned
/src/debug/show_links_several_right_overlap
/src/debug/show_links_single_down
/src/debug/show_links_single_down_left_aligned
/src/debug/show_links_single_down_right_aligned
/src/debug/show_links_single_left
/src/debug/show_links_single_left_dmax_ratio
/src/debug/show_links_single_right
/src/debug/show_links_single_right_dmax_ratio
/src/debug/show_links_single_up
/src/debug/show_links_single_up_left_aligned
/src/debug/show_links_single_up_right_aligned
/src/debug/show_links_top_aligned
/src/debug/show_links_top_aligned_2angles
/src/debug/show_objects_large
/src/debug/show_objects_large_small
/src/debug/show_objects_small
/src/debug/show_objects_thick
/src/debug/show_objects_thin
/src/debug/show_paragraph_blocks
/src/debug/show_separators
/src/debug/show_stoppers
/src/debug/show_text_lines
/src/debug/show_text_lines_wo_seps
/src/filter/objects_large
/src/filter/objects_small
/src/filter/objects_thick
/src/filter/objects_thin
/src/filter/objects_with_holes
/src/filter/objects_with_holes_pgm
/src/misc/closure_rectangle
/src/misc/dmap
/src/misc/morpho
/src/misc/negate
/src/misc/rectangularity
/src/misc/superpose
/src/non_text_components
/src/pbm_text_in_doc
/src/postprocessing/fill_object_holes
/src/preprocessing/denoise_bg
/src/preprocessing/denoise_fg
/src/preprocessing/homogeneous_contrast
/src/preprocessing/preprocess
/src/preprocessing/rotate
/src/preprocessing/rotate_90
/src/preprocessing/split_bg_fg
/src/preprocessing/subsample
/src/preprocessing/to_pgm
/src/preprocessing/unskew
/src/primitive/extract/alignments
/src/primitive/extract/discontinued_hlines
/src/primitive/extract/discontinued_lines
/src/primitive/extract/discontinued_vlines
/src/primitive/extract/lines_h_thick_and_thin
/src/primitive/extract/lines_pattern
/src/primitive/extract/lines_thick_and_thin
/src/primitive/extract/separators_nonvisible
/src/primitive/extract/thick_hlines
/src/primitive/extract/thick_vlines
/src/primitive/find/find_discontinued_lines
/src/primitive/find/find_pattern_lines
/src/primitive/find/find_single_lines
/src/primitive/find/find_thick_and_single_lines
/src/primitive/find/find_thick_lines
/src/primitive/group/group_from_double_link
/src/primitive/group/group_from_double_several_links
/src/primitive/group/group_from_rag
/src/primitive/group/group_from_several_left_links
/src/primitive/group/group_from_single_link
/src/primitive/remove/separators
/src/scribo-cli
/src/text/cleantxt
/src/text/pbm_lines_recognition
/src/text/pbm_recognition
/src/text_in_doc_preprocess
/src/text_in_picture
/src/text_in_picture_dual
/src/text_recognition_in_picture
/src/toolchain/nepomuk/text_extraction
/src/util/component_precise_outline

/tests/data.hh
