# Global.
*.dSYM
*.la
*.lo
*.log
*.moc.cc
*.o
*.pyc
*.qrc.cc
*.stamp
*.ui.h
*~
.deps
.dirstamp
.libs
Makefile
Makefile.in

# Local.
/*-stamp
/*.patch
/*TAGS
/*aclocal.m4
/*stamp-*
/INSTALL
/_build*
/_inst*
/autom4te.cache*
/config
/config.cache*
/config.h
/config.h?in*
/config.hin
/config.status*
/configure
/configure.scan
/diffs.patch
/libtool
/stamp-h1

/doc/contributors.html
/doc/lrde_olena.bib
/doc/lrde_olena.cite
/doc/lrde_olena.html
/doc/lrde_olena_bib.html
