# Global.
*~
*.dSYM
*.pyc
*.stamp
.deps
Makefile.in
Makefile

# Local.
/*-stamp
/*.patch
/*TAGS
/*aclocal.m4
/*stamp-*
/INSTALL
/_build*
/_inst*
/autom4te.cache*
/autoscan.log
/config
/config.cache*
/config.h
/config.h?in*
/config.hin
/config.log*
/config.status*
/configure
/configure.scan
/diffs.patch
/stamp-h1
