/Doxyfile_user
/user-refman
/user-refman.pdf

/Doxyfile_devel
/devel-refman
/devel-refman.pdf

/figures/*.png

/ref_guide/ref_guide.hh
/ref_guide/ref_guide.html
/ref_guide/ref_guide.pdf

/technical/technical.html
/technical/technical.pdf

/tutorial/tutorial.hh
/tutorial/tutorial.html
/tutorial/tutorial.pdf

/white_paper/figures/*.eps
/white_paper/white_paper.html
/white_paper/white_paper.pdf
