/Doxyfile_user
/user-refman
/user-refman.pdf

/Doxyfile_devel
/devel-refman
/devel-refman.pdf

/figures/*.png

/ref_guide/ref_guide.css
/ref_guide/ref_guide.hh
/ref_guide/ref_guide.html
/ref_guide/ref_guide.pdf
/ref_guide/ref_guide0x.png

/technical/technical.css
/technical/technical.html
/technical/technical.pdf

/tutorial/tutorial.css
/tutorial/tutorial.hh
/tutorial/tutorial.html
/tutorial/tutorial.pdf

/white_paper/figures/house.eps
/white_paper/figures/house_rag.eps
/white_paper/figures/house_wshed.eps
/white_paper/figures/house_wshed_mean_colors.eps
/white_paper/white_paper.css
/white_paper/white_paper.html
/white_paper/white_paper.pdf
/white_paper/white_paper0x.png
/white_paper/white_paper1x.png
/white_paper/white_paper2x.png
/white_paper/white_paper3x.png
