/Doxyfile_devel
/Doxyfile_devel_pdf
/Doxyfile_user
/Doxyfile_user_pdf
/devel
/user
/figures/*.png
/ref_guide/ref_guide.haux
/ref_guide/ref_guide.hh
/ref_guide/ref_guide.hh-e
/ref_guide/ref_guide.html
/ref_guide/ref_guide.htoc
/ref_guide/ref_guide.pdf
/technical/technical.haux
/technical/technical.hh
/technical/technical.hh-e
/technical/technical.html
/technical/technical.pdf
/tutorial/tutorial.haux
/tutorial/tutorial.hh
/tutorial/tutorial.hh-e
/tutorial/tutorial.html
/tutorial/tutorial.pdf
/user-refman-html
/user-refman.pdf
/white_paper/figures/house.eps
/white_paper/figures/house_rag.eps
/white_paper/figures/house_wshed.eps
/white_paper/figures/house_wshed_mean_colors.eps
/white_paper/white_paper_html/index.haux
/white_paper/white_paper_html/index.html
/white_paper/white_paper_html/index.html-e
/white_paper/white_paper_html/index.htoc
/white_paper/white_paper_html/index.image.tex
/white_paper/white_paper.pdf
