/config.guess
/config.sub
/depcomp
/diffs.patch
/*.elc
/elisp-comp
/install-sh
/*.log
/ltmain.sh
/*Makefile
/*Makefile?in
/mdate-sh
/missing
/*.patch
/patches*
/*.pyc
/py-compile
/*.rej
/*TAGS
/texinfo.tex
