/config.guess
/config.sub
/depcomp
/diffs.patch
/*.elc
/elisp-comp
/install-sh
/libtool.m4
/*.log
/ltmain.sh
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/*Makefile
/*Makefile?in
/mdate-sh
/missing
/*.patch
/patches*
/*.pyc
/py-compile
/*.rej
/*TAGS
/texinfo.tex
