Source: olena
Section: devel
Priority: extra
Maintainer: Olena Team <olena@lrde.epita.fr>
Build-Depends: debhelper (>= 5), autotools-dev, dpkg-dev (>= 1.13.19)
Standards-Version: 3.9.1
Vcs-Browser: https://trac.lrde.epita.fr/olena/browser
Vcs-Git: git://git.lrde.epita.fr/olena
Homepage: http://olena.lrde.epita.fr


Package: olena
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, olena-dev, olena-bin
Description: Image Processing Platform written in C++.
 Install the whole plaform.
 .
 This is a meta-package.


Package: olena-bin
Architecture: any
Depends:
	${shlibs:Depends},
	${misc:Depends},
	libtesseract-dev (>= 3.02),
	libgraphicsmagick++1-dev,
	graphicsmagick-libmagick-dev-compat,
	libqt4-dev,
	xsltproc,
	fop
Description: Tools based on Olena.
 It includes several tools for manipulating images.



Package: olena-dev
Architecture: all
Depends:
	${misc:Depends}
Recommends:
	libgraphicsmagick++1-dev,
	graphicsmagick-libmagick-dev-compat,
Suggests:
	libqt4-dev,
	libtesseract-dev (>= 3.02)
Description: Development files for Olena.
 It includes HTML documentation and C++ headers.
