[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Olena
GenericName=olena
Comment=Olena, a Generic Image Processing Libray.
Comment[fr]=Olena, une bibliothèque de traitement d\'image générique.
Icon=Olena
Exec=olena
Terminal=true
Categories=Application;
